.buttonOp {
  text-align:center;
  display:inline;
}


#buttonOp {
  text-align:center;
  display:inline;
}
.calculator {
  text-align:center;
  display:inline;
}

.numPad{
  font-size:14px;
}

.calculator h2{
  background-color:#D3D3D3;
}

.highlighted {
  background-color:yellow;
}



#answer {
  text-align: center;
}

#credits{
  text-align:center;
}
